{% extends "base.html" %}
{% block extrajs %}
<!-- You should place your js files here -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- this css file is from online source, author is Matias Meno -->
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<!-- this is the library we used for this example -->
	<script src="/static/js/dropzone.js"></script>
<script src="/static/js/index.js"></script>
{% endblock%}

{% block title %}Index{% endblock %}

{% block nav_index %}class="active"{% endblock %}


{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <h1 class="mt-5" style="padding-bottom: 30px">Welcome to the CUAHSI HYDROQUALITY client.</h1>

        <p style="padding-bottom: 30px">random info random info random info random info random info random info
            random info random info random info random info random info random info
            random info random info random info random info random info random info 
            random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info random info 
        </p>

        


       <br>
       <br>



      <form id="my_dropzone" action="/api/post_csv" method='post' class="dropzone" style="padding-bottom: 100px">
        <div class="dz-default dz-message">
          <span>Drag and drop a .CSV File(s) here to upload</span>
        </div>
      </form>

      <!-- enctype defines how your form data will be encoded -->
      <!-- multipart/form-data means no characters are encoded. -->
      <!-- This is usually used when you are using forms to upload a file -->
      <form method="post" enctype=multipart/form-data style="padding-top: 100px; padding-bottom: 100px">
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
        
    <br>
    <!-- Button trigger modal -->
    <a type="button" class="btn btn-success btn-lg btn-block" id = 'continue'>
      Continue
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
{% endblock %}
