{% extends "base.html" %}
{% block extrajs %}
<!-- You should place your js files here -->
<!-- e.g. <script src="/static/js/index.js"></script> -->
{% endblock%}

{% block title %}REVIEW{% endblock %}

{% block nav_Review %}class="active"{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">

            <h1 class="mt-5">REVIEW</h1>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        // Create the data table.
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Value', 'QC Flag'],
          ['1:00:01',  1000,      0],
          ['1:01:01',  1170,      1],
          ['1:02:01',  660,       0],
          ['1:03:01',  1030,      1]
        ]);


        // Set chart options
        var options = {
            'title': 'Data Graph',
            'width': 1200,
            'height': 600
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chartContainer'));
        chart.draw(data, options);
    }


    window.onload = function () { drawChart(); }
</script>
<div class="container">
    <table class="table table-bordered" id="data_table">
        <caption>Flagged Data</caption>
        <thead>
            <tr>
                <th>DataTime</th>
                <th>Value</th>
                <th>QC Flag</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01:01:00</td>
                <td>450</td>
                <td>False</td>
            </tr>
            <tr>
                <td>00:01:00</td>
                <td>480</td>
                <td>False</td>
            </tr>
            <tr>
                <td>00:05:20</td>
                <td>500</td>
                <td>True</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-borderless" id="metadata">
        <thead>
            <tr>
                <th>DataTime</th>
                <th>Measurement</th>
                <th>Flag Code</th>
                <th>Flag Meaning</th>
                <th>Data Flagged</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Random Value</td>
                <td>Random Value</td>
                <td>Random Value</td>
                <td>Random Value</td>
                <td>Random Value</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary">Previous Data Column</button>
    <button class="btn btn-primary">Next Data Column</button>
</div>
<div id="chartContainer">
</div>

{% endblock %}