{% extends "base.html" %}
{% block extrajs %}
<!-- You should place your js files here -->
<script src="/static/js/verify.js"></script>
{% endblock%}

{% block title %}VERIFY{% endblock %}

{% block nav_Verify %}class="active"{% endblock %}


{% block content %}
        <div class="container">
            <br>
        <div class="box" style="background-color: #b0c3e5; border-style:solid; height: 300px">
          <h3 style="padding-left:50px;">Upload data files</h3>
          <div class="tableBig" style="overflow-y:scroll; height:200px; display:block; position: absolute; text-align: center; width: 1000px; padding-left:50px; border-style:solid; margin-left:2%; ">
            {% block body %}
            {{ data|safe }}
            {% endblock %}  
          </div>
        </div>

         <br>
          <div class="column" style="background-color: #b0c3e5; border-style:solid; width: 730px; height: 214px">
            <div class="box" style="text-align: center; align-items: center ">
              <div class="column" style="width: 250px">
                <table id="table1" border="1" >
                    <tr>
                        <th>Detected Column Names</th>
                        <th>Select</th>
                    </tr>
                    <tr>
                        <td>Time Stamp</td>
                        <td><input type="checkbox" name="check-tab1"></td>
                    </tr>
                     <tr>
                        <td>Humidity</td>
                        <td><input type="checkbox" name="check-tab1"></td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td><input type="checkbox" name="check-tab1"></td>
                    </tr>
                </table>
            </div>
            
            <div class="column" align="center" style="width: 90px">
                <button onclick="tab1_To_tab2();">>>>>></button>
                <button onclick="tab2_To_tab1();"><<<<<</button>
            </div>
            
            <div class="column" style="width: 190px">
                <table id="table2" border="1">
                    <tr>
                        <th>Data Columns</th>
                        <th>Select</th>
                    </tr>
                </table>  
            </div> 
           </div>
         </div>

         <div class="column" style="background-color: #fcfcfc; width: 140px; height: 214px">
         </div>

        <div class="column" style="background-color: #b0c3e5; border-style:solid; height: 214px">
            <div class="column" style="width: 240px">
                <table id="table3" border="1" >
                    <tr>
                        <th>Detected Column Names</th>
                        <th>Select</th>
                    </tr>
                    <tr>
                        <td>Time Stamp</td>
                        <td><input type="checkbox" name="check-tab1"></td>
                    </tr>
                     <tr>
                        <td>Humidity</td>
                        <td><input type="checkbox" name="check-tab1"></td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td><input type="checkbox" name="check-tab1"></td>
                    </tr>
                </table> 
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="container">
        <!-- Button trigger modal -->
        <a type="button" class="btn btn-success btn-lg btn-block" id = 'continue'>
          Continue
        </a>
    </div>
        
        <script>
            
            function tab1_To_tab2()
            {
                var table1 = document.getElementById("table1"),
                    table2 = document.getElementById("table2"),
                    table3 = document.getElementById("table3"),
                    checkboxes = document.getElementsByName("check-tab1");
            console.log("Val1 = " + checkboxes.length);
                 for(var i = 0; i < checkboxes.length; i++)
                     if(checkboxes[i].checked)
                        {
                            // create new row and cells
                            var newRow = table2.insertRow(table2.length),
                                cell1 = newRow.insertCell(0),
                                cell2 = newRow.insertCell(1);
                            // add values to the cells
                            cell1.innerHTML = table1.rows[i+1].cells[0].innerHTML;
                            cell2.innerHTML = "<input type='checkbox' name='check-tab2'>";
                           
                            // remove the transfered rows from the first table [table1]
                            var index = table1.rows[i+1].rowIndex;
                            table1.deleteRow(index);
                            table3.deleteRow(index);
                            // we have deleted some rows so the checkboxes.length have changed
                            // so we have to decrement the value of i
                            i--;
                           console.log(checkboxes.length);
                        }
            }
            
            
            function tab2_To_tab1()
            {
                var table1 = document.getElementById("table1"),
                    table2 = document.getElementById("table2"),
                    table3 = document.getElementById("table3"),
                    checkboxes = document.getElementsByName("check-tab2");
            console.log("Val1 = " + checkboxes.length);
                 for(var i = 0; i < checkboxes.length; i++)
                     if(checkboxes[i].checked)
                        {
                            // create new row and cells
                            var newRow = table1.insertRow(table1.length),
                                cell1 = newRow.insertCell(0),
                                cell2 = newRow.insertCell(1);

                            // create new row and cells
                            var newRow2 = table3.insertRow(table3.length),
                                cell3 = newRow2.insertCell(0),
                                cell4 = newRow2.insertCell(1);
                            // add values to the cells
                            cell1.innerHTML = table2.rows[i+1].cells[0].innerHTML;
                            cell2.innerHTML = "<input type='checkbox' name='check-tab1'>";

                            // add values to the cells
                            cell3.innerHTML = table2.rows[i+1].cells[0].innerHTML;
                            cell4.innerHTML = "<input type='checkbox' name='check-tab1'>";
                           
                            // remove the transfered rows from the second table [table2]
                            var index = table2.rows[i+1].rowIndex;
                            table2.deleteRow(index);
                            // we have deleted some rows so the checkboxes.length have changed
                            // so we have to decrement the value of i
                            i--;
                           console.log(checkboxes.length);
                        }
            }
            
        </script>    
    {% endblock %}
